body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: linear-gradient( #FFCCA9, #FFCDB3, #FFDDDC); */

}

.pag-cadastro{
    text-align: center;
    padding: 50px 0;
    margin: 138px;
}

.box-cadastro{
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc ;
    padding: 25px 20px 25px 20px;
    border-radius: 20px;
    width: 450px;
    margin-right: 70px;
    /*cima direita baixo esquerda */
}

.pag-cadastro .input-padrao{
    width: 91%;
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: #402978 solid;
}

.btn-green{
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    border: rgb(255, 255, 255) solid 3px;
}

.btn-green:hover{
    color: green;
    background-color: white;
    border: green solid 3px;
}

.pag-login .btn-green{
    display: block;
    float: none;
    margin: auto;
}

form{
    padding: 20px;
    font-weight: bold;
    color: #000000c5;
    text-align: start;
}

.flex{
    display: flex;
}
.img{
    margin-left: 250px;
}

.img img{
    height: 550px;
}