  /* estilização do footer */
  footer{
    text-align: center;
    background-color: #d7d9f7;
    margin: 0;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 80px;
  }

  footer p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #232323c2;
    font-weight: bold;
  }
  .container-footer{
    max-width: 1280px; 
    margin: 0 auto;
  }
  /* fim da estilização do footer */