 /* estilização geral */
 body {
    margin: 0;
    padding: 0;
    border: 0;
  }

.container {
  max-width: 1280px; 
  height: 100%;
  margin: 0 auto;
}


/* estilização do header */
.navbar {
  padding-top: 20px;
  background: #845de7;
  width: 100%;
  height: 80px;
  border-bottom: 5px solid #402978;
}

.navbar h3 {
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar nav {
  float: right;
}

ul {
  list-style: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

ul li {
  color: white;
  display: inline;
  margin-left: 25px;
  font-size: 13px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li:hover{
    color: #402978;
}

.ata:hover{
  color: #402978;
}
.ata{
  color: white;
  text-decoration: none;
}
/* fim da estilização do header */