body {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .navbar {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px orange;
    
  }
  .menu {
    max-width: 1280px; 
    height: 100%;
    margin: 0 auto;
  }
  .navbar h3 {
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .navbar nav {
    float: right;
  }

  ul {
    list-style: none;
    color: white;
  }

  ul li {
    color: white;
    display: inline;
    margin-left: 25px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  li:hover{
      color: orange;
  }